<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">Gallery of Wonders</a>
  </div>

  <ul class="nav-links">
    <li *ngIf="loggedIn"><a routerLink="/home" routerLinkActive="active">Home</a></li>
<li *ngIf="loggedIn"><a routerLink="/add-wonder" routerLinkActive="active">Add Wonder</a></li>
<li *ngIf="loggedIn"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
<li *ngIf="loggedIn"><a (click)="logout()">Logout</a></li>

<li *ngIf="!loggedIn"><a routerLink="/register" routerLinkActive="active">Register</a></li>
<li *ngIf="!loggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>

  </ul>
</nav>
