<!-- <div class="wonder-list-grid">
  <app-wonder-card
    *ngFor="let wonder of wonders"
    [imageUrl]="wonder.image.url"
    [title]="wonder.name"
    [avatarUrl]="wonder.user.avatarUrl || 'https://i.pravatar.cc/150?img=1'"
    [username]="wonder.user.name"
    [likes]="wonder.likes?.length || 0"
    [commentsCount]="wonder.comments?.length || 0"
    [liked]="isLikedByCurrentUser(wonder)"
    (likeChanged)="handleLikeChange($event, wonder)"
    (commentClicked)="handleCommentClick(wonder)">
  </app-wonder-card>
</div> -->
<div class="feed">
  <app-wonder-card
  *ngFor="let wonder of wonders"
  [wonder]="wonder"
  [liked]="isLikedByCurrentUser(wonder)"
  [saved]="isSavedByCurrentUser(wonder)"
  (likeChanged)="handleLikeChange($event, wonder)"
  (saveChanged)="handleSaveChange($event, wonder)"
  (commentClicked)="handleCommentClick(wonder)">
</app-wonder-card>

<div *ngIf="page > maxPages" class="end">
  You’re all caught up 🎉
</div>

  <div class="loader" *ngIf="loading">Loading...</div>
</div>
