<div class="login-container">
  <div class="img">
    <img src="https://i.pinimg.com/1200x/65/a1/9d/65a19d851442d5816097cadbae1c34fa.jpg" alt="">
  </div>
  <div class="login-card">
    <h2>Articulator Login</h2>

    <form (ngSubmit)="login()">
      <div class="input-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" required />
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" required />
      </div>

      <button type="submit" >Login</button>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
</div>
