<div class="container">
  <div class="img">
    <img src="https://i.pinimg.com/1200x/79/b3/b2/79b3b29830f606447b2dbaf0038b7c51.jpg" alt="">
  </div>
  <div class="modal-card">

    <div class="modal-header">
      <h2>Add a New Wonder</h2>
    </div>

    <form [formGroup]="wonderForm" (ngSubmit)="submit()"  enctype="multipart/form-data">

      <!-- Name -->
      <label>Name</label>
      <input
        type="text"
        formControlName="name"
        placeholder="Enter wonder name"
      />

      <!-- Image -->
      <label>Upload Image</label>
      <input type="file" (change)="onFileChange($event)" />

      <!-- Description -->
      <label>Description</label>
      <textarea
        rows="4"
        formControlName="description"
        placeholder="Describe the wonder..."
      ></textarea>

      <!-- Tags -->
      <label>Tags</label>
      <div class="tags">
        <div
          class="tag-pill"
          *ngFor="let tag of allTags"
          [class.selected]="isTagSelected(tag)"
          (click)="toggleTag(tag)"
        >
          {{ tag }}
        </div>
      </div>

      <div class="selected">
        Selected: {{ selectedTags.length }} tags
      </div>

      <!-- Submit -->
      <button class="submit-btn" type="submit">
        Add Wonder
      </button>

    </form>

  </div>
</div>